        /* faire la bande a gauche */
        .nav{
            display: flex;
            float: left;
            margin-left: 10px;
            background:rgba(242, 19, 138, 0.921);
            width: 200px;
            height: 25rem;
            border-radius: 3rem;
        }
        /* aligner de haut en bas les liens */
        .option{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            padding-left: 3%;

        }
        /*permettre de prendre une place propice pour l'image d'acceuil. */
        .ak{
            padding-bottom: 10px;
        }
        /*permet d'ajuster la place de l'image suggest*/
        .pv{
            padding-bottom: 10px;
        }
        /* faire une flex a tous les liens avec icones */
        .option a{
            text-decoration: none;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;
            background: rgb(255, 255, 255);
            width: 11rem;
            border-radius: 3rem;


        }
        .option a:hover{
            color: rgb(6, 34, 43);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.249);
        }
        /* Ajuster la taille des icones */
        .option a img{
            height: 25px;
            width: 25px;
            padding-left: 10%;
        }
        /* ajuster la paragraphe */
        .option a  p{
            height: 100%;
            width: auto;
            font-size: 1.5rem;
            
        }
        h1{ 
            text-align: center;
            background:rgba(242, 19, 138, 0.921);

        }
         h1 span{
     
            color: rgb(255, 255, 255);
            font-size: 3rem;            
        }
        h2{
            border: 2px solid rgb(65, 206, 241);
            width: 300px;
            padding-left: 1.2rem;
            border-radius: 1rem;
            text-align: center;

        }
        .accessoire{
            display: flex;
            margin-left: 15rem;
        }
        li{
            list-style-type: none;
        }
        li a{
            text-decoration: none;
            font-size: 1.5rem;

        }
        .lieu{
           margin-left: 40%;
           margin-top: 5%;
        }
        .lieu a{
            margin-left: 15%;
        }
        .kontakt {
            margin-top: 2rem;
            background-image: url(./images/decoInt.jpg);
            width: 100%;
            height: 30vh;
            align-items: center;
            border-radius: 1rem;
        }
     .adress{
         display: flex;
         justify-content: space-around;
         background: rgb(255, 255, 255);
         border: 1px solid black;
         border-radius: 1rem;
         border-bottom: none;
     }
     .oneBy{
         flex-direction: column;
     }
     .oneBy img{
         height: 50px;
         width: 50px;
     }
     .oneBy p{
         color: rgb(0, 0, 0);
     }
     
     .oneBy #mail{
          margin-left: 2.7rem;
     }
     .oneBy #ant{
       margin-top: -1rem;
       margin-left: 6px;
     }
     .oneBy #loc{
         margin-left: 1.8rem;
     }
     .Blanc{
         display: flex;
         justify-content:center;
     }
     .Blanc a{
         padding: 0.2%;
         border-radius: 0.5rem; 
         width: 130px;
         margin-right: 15px;
     }
      
     .Blanc{
        display: flex;
        justify-content:center;
    }
    .Blanc a{
        padding: 0.2%;
        border-radius: 0.5rem; 
        width: 130px;
        margin-right: 15px;
    }
     .Blanc a {
        font-size:1.5rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
        text-align: match-parent;
        background: rgb(255, 0, 0);
        text-align: center;
    
    }
    .Blanc a:hover{
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 0 10px 0 black;
    }
     footer p{
     margin-top: 2rem;
     text-align: center;
     }

